*.iml
.gradle
.idea
/local.properties
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
将删除 .idea/
将删除 app/libs/
将删除 app/src/main/res/drawable/
将删除 rtspsteam/libs/
将删除 rtspsteam/src/main/res/drawable/
